In [1]:
import pandas as pd
import pandas_datareader.data as web

/Users/dennismacpro/miniconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [1]:
import numpy as np

In [2]:
import quandl

In [3]:
quandl.ApiConfig.api_key = 'zKYsMEfvyGrpJ-bk5J2V'

In [5]:
# https://docs.quandl.com/docs/python-time-series#section-make-a-filtered-time-series-call
tsla = quandl.get("WIKI/TSLA",start_date='2018-01-01',end_date='2020-05-01')

In [6]:
tsla.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-01-02,312.00,322.1099,311.00,320.53,4326988.0,0.0,1.0,312.00,322.1099,311.00,320.53,4326988.0
2018-01-03,321.00,325.2500,315.55,317.25,4185665.0,0.0,1.0,321.00,325.2500,315.55,317.25,4185665.0
2018-01-04,312.87,318.5500,305.68,314.62,9915932.0,0.0,1.0,312.87,318.5500,305.68,314.62,9915932.0
2018-01-05,316.62,317.2400,312.00,316.58,4578729.0,0.0,1.0,316.62,317.2400,312.00,316.58,4578729.0
2018-01-08,316.00,337.0199,315.50,336.41,9777059.0,0.0,1.0,316.00,337.0199,315.50,336.41,9777059.0

In [7]:
tsla.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,59.000000,59.000000,59.000000,59.000000,5.900000e+01,59.0,59.0,59.000000,59.000000,59.000000,59.000000,5.900000e+01
mean,332.693729,338.251983,326.642559,332.233990,5.926989e+06,0.0,1.0,332.693729,338.251983,326.642559,332.233990,5.926989e+06
std,14.094216,14.377859,16.014201,15.553511,2.070549e+06,0.0,0.0,14.094216,14.377859,16.014201,15.553511,2.070549e+06
min,304.000000,304.270000,277.180000,279.180000,3.181755e+06,0.0,1.0,304.000000,304.270000,277.180000,279.180000,3.181755e+06
25%,320.920000,326.785000,315.525000,321.830000,4.546871e+06,0.0,1.0,320.920000,326.785000,315.525000,321.830000,4.546871e+06
50%,334.470000,339.810000,329.292900,334.065000,5.585810e+06,0.0,1.0,334.470000,339.810000,329.292900,334.065000,5.585810e+06
75%,344.960000,348.835000,337.340000,344.785000,6.609810e+06,0.0,1.0,344.960000,348.835000,337.340000,344.785000,6.609810e+06
max,360.000000,360.500000,352.355000,357.420000,1.369617e+07,0.0,1.0,360.000000,360.500000,352.355000,357.420000,1.369617e+07

In [9]:
tsla['1 day'] = tsla['Adj. Close'].shift(-1)

In [10]:
tsla.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,1 day
Date,,,,,,,,,,,,,
2018-01-02,312.00,322.1099,311.00,320.53,4326988.0,0.0,1.0,312.00,322.1099,311.00,320.53,4326988.0,317.25
2018-01-03,321.00,325.2500,315.55,317.25,4185665.0,0.0,1.0,321.00,325.2500,315.55,317.25,4185665.0,314.62
2018-01-04,312.87,318.5500,305.68,314.62,9915932.0,0.0,1.0,312.87,318.5500,305.68,314.62,9915932.0,316.58
2018-01-05,316.62,317.2400,312.00,316.58,4578729.0,0.0,1.0,316.62,317.2400,312.00,316.58,4578729.0,336.41
2018-01-08,316.00,337.0199,315.50,336.41,9777059.0,0.0,1.0,316.00,337.0199,315.50,336.41,9777059.0,333.69

In [11]:
for d in range(2,41):
    col = "%dd" % d
    tsla[col] = tsla['Adj. Close'].shift(-1*d)
tsla.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,...,31d,32d,33d,34d,35d,36d,37d,38d,39d,40d
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,312.00,322.1099,311.00,320.53,4326988.0,0.0,1.0,312.00,322.1099,311.00,...,334.065,335.49,334.77,333.30,346.17,352.05,357.42,350.99,343.06,330.93
2018-01-03,321.00,325.2500,315.55,317.25,4185665.0,0.0,1.0,321.00,325.2500,315.55,...,335.490,334.77,333.30,346.17,352.05,357.42,350.99,343.06,330.93,335.12
2018-01-04,312.87,318.5500,305.68,314.62,9915932.0,0.0,1.0,312.87,318.5500,305.68,...,334.770,333.30,346.17,352.05,357.42,350.99,343.06,330.93,335.12,333.35
2018-01-05,316.62,317.2400,312.00,316.58,4578729.0,0.0,1.0,316.62,317.2400,312.00,...,333.300,346.17,352.05,357.42,350.99,343.06,330.93,335.12,333.35,328.20
2018-01-08,316.00,337.0199,315.50,336.41,9777059.0,0.0,1.0,316.00,337.0199,315.50,...,346.170,352.05,357.42,350.99,343.06,330.93,335.12,333.35,328.20,332.30

In [13]:
tsla.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,...,31d,32d,33d,34d,35d,36d,37d,38d,39d,40d
Date,,,,,,,,,,,,,,,,,,,,,
2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
tsla.dropna()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,...,31d,32d,33d,34d,35d,36d,37d,38d,39d,40d
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,312.00,322.1099,311.000,320.5300,4326988.0,0.0,1.0,312.00,322.1099,311.000,...,334.065,335.49,334.77,333.30,346.17,352.05,357.42,350.99,343.06,330.93
2018-01-03,321.00,325.2500,315.550,317.2500,4185665.0,0.0,1.0,321.00,325.2500,315.550,...,335.490,334.77,333.30,346.17,352.05,357.42,350.99,343.06,330.93,335.12
2018-01-04,312.87,318.5500,305.680,314.6200,9915932.0,0.0,1.0,312.87,318.5500,305.680,...,334.770,333.30,346.17,352.05,357.42,350.99,343.06,330.93,335.12,333.35
2018-01-05,316.62,317.2400,312.000,316.5800,4578729.0,0.0,1.0,316.62,317.2400,312.000,...,333.300,346.17,352.05,357.42,350.99,343.06,330.93,335.12,333.35,328.20
2018-01-08,316.00,337.0199,315.500,336.4100,9777059.0,0.0,1.0,316.00,337.0199,315.500,...,346.170,352.05,357.42,350.99,343.06,330.93,335.12,333.35,328.20,332.30
2018-01-09,335.16,338.8000,327.405,333.6900,7109115.0,0.0,1.0,335.16,338.8000,327.405,...,352.050,357.42,350.99,343.06,330.93,335.12,333.35,328.20,332.30,329.10
2018-01-10,332.20,337.0000,330.000,334.8000,4236168.0,0.0,1.0,332.20,337.0000,330.000,...,357.420,350.99,343.06,330.93,335.12,333.35,328.20,332.30,329.10,327.17
2018-01-11,335.24,344.8099,333.260,337.9500,6619082.0,0.0,1.0,335.24,344.8099,333.260,...,350.990,343.06,330.93,335.12,333.35,328.20,332.30,329.10,327.17,345.51
2018-01-12,338.63,340.4100,333.670,336.2200,4805025.0,0.0,1.0,338.63,340.4100,333.670,...,343.060,330.93,335.12,333.35,328.20,332.30,329.10,327.17,345.51,341.84
2018-01-16,337.54,345.0000,334.800,340.0600,6392397.0,0.0,1.0,337.54,345.0000,334.800,...,330.930,335.12,333.35,328.20,332.30,329.10,327.17,345.51,341.84,326.63
2018-01-17,340.47,349.0000,339.750,347.1600,7062337.0,0.0,1.0,340.47,349.0000,339.750,...,335.120,333.35,328.20,332.30,329.10,327.17,345.51,341.84,326.63,325.60
2018-01-18,345.67,352.3000,343.740,344.5700,5619990.0,0.0,1.0,345.67,352.3000,343.740,...,333.350,328.20,332.30,329.10,327.17,345.51,341.84,326.63,325.60,321.35
2018-01-19,345.00,350.5899,342.600,350.0200,4812052.0,0.0,1.0,345.00,350.5899,342.600,...,328.200,332.30,329.10,327.17,345.51,341.84,326.63,325.60,321.35,313.56
2018-01-22,349.40,357.8300,349.200,351.5600,6157941.0,0.0,1.0,349.40,357.8300,349.200,...,332.300,329.10,327.17,345.51,341.84,326.63,325.60,321.35,313.56,310.55
2018-01-23,360.00,360.5000,351.000,352.7900,5428872.0,0.0,1.0,360.00,360.5000,351.000,...,329.100,327.17,345.51,341.84,326.63,325.60,321.35,313.56,310.55,316.53
2018-01-24,354.58,354.7500,343.520,345.7404,5251654.0,0.0,1.0,354.58,354.7500,343.520,...,327.170,345.51,341.84,326.63,325.60,321.35,313.56,310.55,316.53,309.10
2018-01-25,348.27,349.2000,336.400,337.6400,6640964.0,0.0,1.0,348.27,349.2000,336.400,...,345.510,341.84,326.63,325.60,321.35,313.56,310.55,316.53,309.10,301.54
2018-01-26,341.50,344.0000,335.710,342.8500,4515013.0,0.0,1.0,341.50,344.0000,335.710,...,341.840,326.63,325.60,321.35,313.56,310.55,316.53,309.10,301.54,304.18
2018-01-29,339.85,350.8500,338.280,349.5300,4722025.0,0.0,1.0,339.85,350.8500,338.280,...,326.630,325.60,321.35,313.56,310.55,316.53,309.10,301.54,304.18,279.18

In [23]:
# First 32 days for features
X = tsla.iloc[:, 12:33]
# Remaining days for prediction
y = tsla.iloc[:, 33:]
X.head()

,1 day,2d,3d,4d,5d,6d,7d,8d,9d,10d,...,12d,13d,14d,15d,16d,17d,18d,19d,20d,21d
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,317.25,314.62,316.58,336.41,333.69,334.80,337.95,336.22,340.06,347.16,...,350.0200,351.5600,352.7900,345.7404,337.64,342.85,349.53,345.82,354.42,349.25
2018-01-03,314.62,316.58,336.41,333.69,334.80,337.95,336.22,340.06,347.16,344.57,...,351.5600,352.7900,345.7404,337.6400,342.85,349.53,345.82,354.42,349.25,343.79
2018-01-04,316.58,336.41,333.69,334.80,337.95,336.22,340.06,347.16,344.57,350.02,...,352.7900,345.7404,337.6400,342.8500,349.53,345.82,354.42,349.25,343.79,333.70
2018-01-05,336.41,333.69,334.80,337.95,336.22,340.06,347.16,344.57,350.02,351.56,...,345.7404,337.6400,342.8500,349.5300,345.82,354.42,349.25,343.79,333.70,333.63
2018-01-08,333.69,334.80,337.95,336.22,340.06,347.16,344.57,350.02,351.56,352.79,...,337.6400,342.8500,349.5300,345.8200,354.42,349.25,343.79,333.70,333.63,345.00

In [16]:
y.head()

,22d,23d,24d,25d,26d,27d,28d,29d,30d,31d,32d,33d,34d,35d,36d,37d,38d,39d,40d
Date,,,,,,,,,,,,,,,,,,,
2018-01-02,343.79,333.70,333.63,345.00,315.36,310.110,315.730,323.660,322.310,334.065,335.49,334.77,333.30,346.17,352.05,357.42,350.99,343.06,330.93
2018-01-03,333.70,333.63,345.00,315.36,310.11,315.730,323.660,322.310,334.065,335.490,334.77,333.30,346.17,352.05,357.42,350.99,343.06,330.93,335.12
2018-01-04,333.63,345.00,315.36,310.11,315.73,323.660,322.310,334.065,335.490,334.770,333.30,346.17,352.05,357.42,350.99,343.06,330.93,335.12,333.35
2018-01-05,345.00,315.36,310.11,315.73,323.66,322.310,334.065,335.490,334.770,333.300,346.17,352.05,357.42,350.99,343.06,330.93,335.12,333.35,328.20
2018-01-08,315.36,310.11,315.73,323.66,322.31,334.065,335.490,334.770,333.300,346.170,352.05,357.42,350.99,343.06,330.93,335.12,333.35,328.20,332.30

In [17]:
# SKlearn Model Selectioni
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4)

In [25]:
X_train.shape

(35, 21)

In [26]:
X_test.shape

(24, 21)